@import "tailwindcss";
@plugin "daisyui";

:root {
  --gray-color: #474747;
  --light-graylish-color: #dbdfd0;
  --text-color: #414536;
  --text-dark-color: #2c2f24;
  --red-color: #ad343e;
}
.bg-gray-color {
  background-color: var(--gray-color);
}
.bg-light-graylish-color {
  background-color: var(--light-graylish-color);
}

.text-color {
  color: var(--text-color);
}
